/***** Hero component *****/
.hero {
  height: 300px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
  background: $pinkpurple;
  background: linear-gradient(90deg, $purple 10%, $pink 95%);

  &-inner {
    @include vertical-align;
    max-width: 610px;
    margin: 0 auto;
  }
}
